.App {
  margin: 0 auto;
  text-align: center;
  font-family: serif;
  padding: 20px;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('./src/assets/wall.jpeg') !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

}

img {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}

input {
  padding: 10px;
  font-size: 1.2rem;
  margin-right: 10px;
}